@charset "UTF-8";
/*
* author: 姚吉
* date:2016/9/18
*/
/*
* author: 姚吉
* date:2016/11/2
*/
/*
* author: 姚吉
* date:2016/11/2
*/
* {
  outline: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  overflow-y: scroll;
  font-family: Microsoft YaHei;
  -webkit-overflow-scrolling: touch; }

.freezeBody {
  position: fixed;
  overflow: hidden; }

a {
  color: #000; }

img {
  max-height: 100%;
  max-width: 100%;
  border: none; }

.clearfix {
  clear: both; }

/*
* author: 姚吉
* date:2016/11/2
*/
.indexContainer {
  position: relative;
  z-index: 10;
  width: 100%;
  -webkit-touch-callout: none !important;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }
  .indexContainer .header {
    position: relative; }
    .indexContainer .header .banner {
      width: 100%;
      display: block; }
    .indexContainer .header .countDown {
      text-align: center;
      font-size: 1.5rem;
      color: #403535;
      position: absolute;
      top: 16.1rem;
      font-family: Microsoft YaHei;
      left: 0;
      width: 100%; }
      .indexContainer .header .countDown div.row {
        line-height: 2.5rem; }
        .indexContainer .header .countDown div.row span.timeBlock {
          color: #f63c49;
          border: 2px solid #f63c49;
          display: inline-block;
          width: 2.5rem;
          height: 2rem;
          line-height: 2rem;
          box-sizing: content-box; }
    .indexContainer .header .leftTopBtnBox {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%; }
      .indexContainer .header .leftTopBtnBox .btn {
        text-align: center;
        width: 6.5rem;
        height: 2rem;
        line-height: 2rem;
        margin-top: 1.8rem;
        color: #cf333e;
        border: 2px solid #cf333e;
        font-size: 1rem;
        border-radius: 10rem;
        position: relative;
        margin-left: 2.1%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        box-sizing: content-box;
        -webkit-tap-highlight-color: transparent; }
        .indexContainer .header .leftTopBtnBox .btn .tri {
          position: absolute;
          right: 5%;
          top: 0.75rem;
          width: 0;
          height: 0;
          border-top: 0.25rem solid transparent;
          border-left: 0.5rem solid red;
          border-bottom: 0.25rem solid transparent; }
  .indexContainer .main {
    background-image: url("../imgs/snowBg.jpg");
    background-size: 100% auto;
    background-repeat: repeat-y;
    padding: 0 4.6%;
    position: relative;
    margin-top: -1px;
    padding-bottom: 2.5rem;
    padding-top: 10rem; }
    .indexContainer .main .recommendToday {
      position: absolute;
      background-color: #fff;
      height: 28.5rem;
      top: -18.7rem;
      width: 91.8%;
      left: 4.6%;
      border-top-left-radius: 2rem;
      border-top-right-radius: 2rem;
      padding: 1.4rem 1.25rem;
      padding-bottom: 0; }
      .indexContainer .main .recommendToday .swiper-container {
        height: 24.25rem; }
        .indexContainer .main .recommendToday .swiper-container .swiper-pagination-bullet-active {
          background: #f64e62; }
      .indexContainer .main .recommendToday .headerTitleBox {
        height: 1.75rem;
        position: relative;
        line-height: 1.75rem;
        text-align: center;
        margin-bottom: 1.1rem; }
        .indexContainer .main .recommendToday .headerTitleBox .redSideLine {
          width: 50%;
          height: 50%;
          position: absolute;
          top: 0;
          left: 25%;
          border-bottom: 1px solid #d10e1c; }
        .indexContainer .main .recommendToday .headerTitleBox .title {
          position: relative;
          z-index: 100;
          font-size: 1.5rem;
          color: #d10e1c;
          font-weight: bold;
          background-color: #fff;
          padding-left: 0.3rem;
          padding-right: 0.3rem; }
        .indexContainer .main .recommendToday .headerTitleBox .title::before {
          content: "·";
          font-size: 1.5rem;
          color: #d10e1c;
          font-weight: bold;
          margin-right: 0.5rem; }
        .indexContainer .main .recommendToday .headerTitleBox .title::after {
          content: "·";
          font-size: 1.5rem;
          color: #d10e1c;
          font-weight: bold;
          margin-left: 0.5rem; }
      .indexContainer .main .recommendToday .bigImg {
        height: 15rem;
        background-size: cover;
        background-image: url(../imgs/product.png); }
      .indexContainer .main .recommendToday .bigTitleRow {
        margin-top: 1.1rem;
        font-size: 2rem;
        line-height: 2rem;
        height: 2rem; }
        .indexContainer .main .recommendToday .bigTitleRow .title {
          float: left;
          color: #000;
          max-width: 60%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
        .indexContainer .main .recommendToday .bigTitleRow .price {
          float: right;
          color: #f64e62;
          font-weight: bold;
          max-width: 40%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
      .indexContainer .main .recommendToday .subTitleRow {
        line-height: 1.1rem;
        font-size: 1rem;
        color: #7e7e7e;
        height: 1.1rem;
        margin-top: 0.5rem; }
        .indexContainer .main .recommendToday .subTitleRow .desc {
          float: left;
          border-right: 1px solid #7e7e7e;
          padding-right: 3%;
          margin-right: 3%; }
        .indexContainer .main .recommendToday .subTitleRow .totalNum {
          float: left; }
        .indexContainer .main .recommendToday .subTitleRow .originPrice {
          float: right;
          text-decoration: line-through; }
      .indexContainer .main .recommendToday .productStatus {
        background-color: #f64e62;
        width: 8.75rem;
        height: 2.8rem;
        text-align: center;
        line-height: 2.8rem;
        font-size: 1.5rem;
        color: #fff;
        float: right;
        margin-top: 1.1rem;
        border-radius: 0.5rem;
        margin-right: 2px;
        -webkit-tap-highlight-color: transparent; }
      .indexContainer .main .recommendToday .productStatus-not-start {
        background-color: #8a9ddb; }
      .indexContainer .main .recommendToday .productStatus-all-sold-out {
        background-color: #9e9e9e; }
      .indexContainer .main .recommendToday .silk {
        width: 7rem;
        position: absolute;
        left: -0.5rem;
        top: -0.1rem;
        z-index: 2; }
    .indexContainer .main .productListContainer {
      background-color: #fff; }
      .indexContainer .main .productListContainer .navBox {
        height: 3.7rem;
        padding: 0.85rem 0;
        border-bottom: 1px solid #d3d3d3;
        position: relative; }
        .indexContainer .main .productListContainer .navBox .navBlock {
          width: 50%;
          float: left;
          height: 2rem;
          text-align: center;
          line-height: 2rem;
          font-size: 1.5rem;
          color: #8d8d8d;
          font-weight: bold;
          -webkit-tap-highlight-color: transparent; }
          .indexContainer .main .productListContainer .navBox .navBlock span {
            -webkit-tap-highlight-color: transparent; }
          .indexContainer .main .productListContainer .navBox .navBlock .selected {
            color: #d10e1c;
            display: inline-block;
            height: 2.8rem;
            border-bottom: 0.25rem solid #d10e1c; }
        .indexContainer .main .productListContainer .navBox .leftBorder {
          border-left: 1px solid #d3d3d3; }
      .indexContainer .main .productListContainer .productList {
        padding: 0 4%; }
        .indexContainer .main .productListContainer .productList .product {
          padding: 1.8rem 0;
          border-bottom: 1px solid #d3d3d3;
          position: relative; }
          .indexContainer .main .productListContainer .productList .product .productImg {
            float: left;
            width: 8.1rem;
            height: 8.1rem; }
            .indexContainer .main .productListContainer .productList .product .productImg img {
              width: 100%;
              height: 100%; }
          .indexContainer .main .productListContainer .productList .product .textSection {
            position: relative;
            height: 8.1rem;
            margin-left: 8.8rem; }
            .indexContainer .main .productListContainer .productList .product .textSection .bigTitle {
              font-size: 1.5rem;
              line-height: 1.5rem;
              height: 1.5rem;
              color: #000;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              max-width: 100%; }
            .indexContainer .main .productListContainer .productList .product .textSection .subTitle {
              line-height: 1.1rem;
              font-size: 1rem;
              color: #7e7e7e;
              height: 1.1rem;
              margin-top: 0.5rem; }
              .indexContainer .main .productListContainer .productList .product .textSection .subTitle .desc {
                float: left;
                border-right: 1px solid #7e7e7e;
                padding-right: 3%;
                margin-right: 3%;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                max-width: 45%; }
              .indexContainer .main .productListContainer .productList .product .textSection .subTitle .totalNum {
                float: left;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                max-width: 10rem; }
            .indexContainer .main .productListContainer .productList .product .textSection .productBottomRow {
              width: 100%;
              position: absolute;
              left: 0;
              bottom: 0; }
              .indexContainer .main .productListContainer .productList .product .textSection .productBottomRow .price-wrap .price {
                line-height: 2.4rem;
                font-size: 2.4rem;
                color: #f64e62; }
              .indexContainer .main .productListContainer .productList .product .textSection .productBottomRow .price-wrap .oldPrice {
                text-decoration: line-through;
                font-size: 1rem;
                height: 1rem;
                line-height: 1rem;
                margin-top: 0.5rem;
                color: #7e7e7e; }
              .indexContainer .main .productListContainer .productList .product .textSection .productBottomRow .productStatus {
                background-color: #f64e62;
                width: 8.75rem;
                height: 2.8rem;
                text-align: center;
                line-height: 2.8rem;
                font-size: 1.5rem;
                color: #fff;
                border-radius: 0.5rem;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                position: absolute;
                right: 0;
                bottom: 0;
                -webkit-tap-highlight-color: transparent; }
              .indexContainer .main .productListContainer .productList .product .textSection .productBottomRow .productStatus-not-start {
                background-color: #8a9ddb; }
              .indexContainer .main .productListContainer .productList .product .textSection .productBottomRow .productStatus-all-sold-out {
                background-color: #9e9e9e; }
      .indexContainer .main .productListContainer .leftList {
        display: block; }
      .indexContainer .main .productListContainer .rightList {
        display: none; }

.shareWinGiftBox {
  width: 7rem;
  position: fixed;
  top: 32rem;
  right: 0;
  display: none;
  z-index: 100;
  -webkit-tap-highlight-color: transparent; }
  .shareWinGiftBox img {
    width: 100%;
    -webkit-tap-highlight-color: transparent; }

.indexCover {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  z-index: 1000;
  background: rgba(54, 49, 49, 0.7);
  padding-top: 8.5rem;
  padding-left: 13.7%;
  padding-right: 13.7%; }
  .indexCover .selectCityPopup {
    z-index: 2;
    background-color: #fff;
    border-radius: 1rem;
    padding-bottom: 1.5rem; }
    .indexCover .selectCityPopup .topImg {
      width: 100%;
      height: 12.55rem;
      background-image: url("../imgs/cityPopup.png");
      background-size: cover;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      margin-bottom: 1.8rem; }
    .indexCover .selectCityPopup div.hint {
      font-size: 1.35rem;
      color: #616161;
      line-height: 1.7rem;
      text-align: center; }
    .indexCover .selectCityPopup .selectCityBtn {
      margin-left: 19%;
      width: 62%;
      margin-top: 1.5rem;
      -webkit-tap-highlight-color: transparent; }
    .indexCover .selectCityPopup .getHealthyLifeCardBox {
      text-align: center;
      font-size: 1.2rem;
      margin-top: 1.5rem;
      color: #616161; }
      .indexCover .selectCityPopup .getHealthyLifeCardBox .text {
        line-height: 1.7rem; }
        .indexCover .selectCityPopup .getHealthyLifeCardBox .text .cb {
          width: 1.7rem;
          height: 1.5rem;
          padding-right: 0.5rem;
          padding-top: 0.3rem; }
        .indexCover .selectCityPopup .getHealthyLifeCardBox .text span {
          vertical-align: text-bottom; }
  .indexCover .rulesPopup {
    z-index: 2;
    background-color: #fff;
    border-radius: 1rem;
    position: relative;
    max-height: 90%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; }
    .indexCover .rulesPopup .closeIcon {
      position: absolute;
      right: 0.5rem;
      top: 1.75rem;
      width: 2rem;
      -webkit-tap-highlight-color: transparent; }
    .indexCover .rulesPopup .redHeader {
      background-color: #f63c49;
      height: 1rem;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem; }
    .indexCover .rulesPopup .rulesBox {
      padding: 0 4%;
      padding-bottom: 2rem; }
      .indexCover .rulesPopup .rulesBox .rulesTitle {
        margin-top: 1.5rem;
        font-size: 1.5rem;
        color: #f63c49;
        font-weight: bold;
        text-align: center; }
      .indexCover .rulesPopup .rulesBox .oneRule {
        margin-top: 1.5rem; }
        .indexCover .rulesPopup .rulesBox .oneRule .numberBox {
          float: left;
          line-height: 1.6rem;
          font-size: 1.6rem;
          border-radius: 50%;
          color: #f63c49;
          font-weight: bold; }
        .indexCover .rulesPopup .rulesBox .oneRule .ruleText {
          text-align: left;
          margin-left: 2rem;
          font-size: 1.15rem;
          color: #4d4d4d; }

/*
* author: 姚吉
* date:2016/11/6
*/
.couponContainer {
  position: relative;
  z-index: 10;
  padding-top: 3.5rem;
  padding-left: 4.26%;
  padding-right: 4.26%;
  padding-bottom: 12.7rem; }
  .couponContainer .coupon {
    position: relative;
    overflow: hidden;
    background: radial-gradient(transparent 0, transparent 0.45rem, #fff 0.5rem);
    background-size: 1.8rem 1.8rem;
    background-position: 0rem -0.9rem; }
    .couponContainer .coupon .couponUpperPart {
      padding-bottom: 2.1rem;
      border-bottom: 2px dashed #b9b9b9;
      position: relative;
      z-index: 100; }
      .couponContainer .coupon .couponUpperPart .brandImgBox {
        margin-top: 3.5rem;
        text-align: center; }
        .couponContainer .coupon .couponUpperPart .brandImgBox img {
          width: 17.8%;
          border-radius: 50%; }
      .couponContainer .coupon .couponUpperPart .brandName {
        margin-top: 0.65rem;
        text-align: center;
        font-size: 1.25rem;
        line-height: 1.25rem;
        color: #9a9a9a; }
      .couponContainer .coupon .couponUpperPart .couponName {
        margin-top: 1.3rem;
        text-align: center;
        font-size: 2.5rem;
        line-height: 3rem;
        color: #000000; }
      .couponContainer .coupon .couponUpperPart .leftNum {
        margin-top: 1.2rem;
        text-align: center;
        font-size: 1.3rem;
        line-height: 1.3rem;
        color: #da3636; }
    .couponContainer .coupon .couponUpperPart::before {
      content: "";
      width: 2.8rem;
      height: 2.8rem;
      border-radius: 50%;
      position: absolute;
      left: -1.4rem;
      bottom: -1.4rem;
      background-color: #3683da; }
    .couponContainer .coupon .couponUpperPart::after {
      content: "";
      width: 2.8rem;
      height: 2.8rem;
      border-radius: 50%;
      position: absolute;
      right: -1.4rem;
      bottom: -1.4rem;
      background-color: #3683da; }
    .couponContainer .coupon .couponBottomPart {
      padding-top: 0.5rem;
      position: relative;
      padding-left: 5%;
      padding-right: 5%; }
      .couponContainer .coupon .couponBottomPart .row {
        padding: 1.35rem 0;
        color: #000000;
        border-bottom: 1px solid #dbdbdb;
        -webkit-tap-highlight-color: transparent; }
        .couponContainer .coupon .couponBottomPart .row .descRow {
          position: relative;
          line-height: 1.9rem;
          font-size: 1.25rem;
          padding-left: 4.2%; }
        .couponContainer .coupon .couponBottomPart .row .descRow::before {
          content: "";
          width: 0.7rem;
          height: 0.7rem;
          background-color: #979797;
          border-radius: 50%;
          position: absolute;
          left: 0;
          top: 0.55rem; }
        .couponContainer .coupon .couponBottomPart .row .normalRow {
          line-height: 1.6rem;
          font-size: 1.6rem;
          position: relative; }
          .couponContainer .coupon .couponBottomPart .row .normalRow .arrow {
            height: 1.4rem;
            float: right;
            position: absolute;
            right: 0;
            top: 0.1rem; }
          .couponContainer .coupon .couponBottomPart .row .normalRow .serviceWindowName {
            float: right;
            margin-right: 1.2rem; }
    .couponContainer .coupon .couponBottomPart::before {
      content: "";
      width: 1.6rem;
      height: 1.6rem;
      border-radius: 50%;
      position: absolute;
      left: -0.8rem;
      bottom: -0.8rem;
      background-color: #3683da; }
    .couponContainer .coupon .couponBottomPart::after {
      content: "";
      width: 1.6rem;
      height: 1.6rem;
      border-radius: 50%;
      position: absolute;
      right: -0.8rem;
      bottom: -0.8rem;
      background-color: #3683da; }
  .couponContainer .coupon::before {
    background-color: #fff;
    content: '';
    position: absolute;
    top: 1rem;
    bottom: 0;
    left: 0px;
    right: 0px; }
  .couponContainer .getCouponBtn {
    margin-top: 2.7rem;
    height: 4.7rem;
    line-height: 4.7rem;
    background-color: #ffb600;
    font-size: 2.1rem;
    color: #fff;
    border-radius: 8px;
    text-align: center;
    -webkit-tap-highlight-color: transparent; }

.couponCover {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  z-index: 1000;
  background: rgba(54, 49, 49, 0.7);
  padding-top: 8.5rem;
  padding-left: 10.13%;
  padding-right: 10.13%; }
  .couponCover .getCouponResultPopup {
    background-color: #fff;
    border-radius: 1rem;
    padding-top: 2.6rem;
    padding-bottom: 4.5rem;
    position: relative; }
    .couponCover .getCouponResultPopup .resultImgBox {
      height: 6.7rem;
      text-align: center;
      margin-bottom: 0.3rem; }
      .couponCover .getCouponResultPopup .resultImgBox img {
        height: 100%; }
    .couponCover .getCouponResultPopup .resultText {
      margin-top: 1.2rem;
      color: #3683da;
      font-size: 2rem;
      line-height: 2rem;
      text-align: center; }
    .couponCover .getCouponResultPopup .resultBtnWrap {
      text-align: center; }
      .couponCover .getCouponResultPopup .resultBtnWrap .resultBtn {
        margin-top: 2.1rem;
        color: #fff;
        background-color: #3683da;
        line-height: 4.3rem;
        font-size: 2.4rem;
        padding-left: 2rem;
        padding-right: 2rem;
        border-radius: 8px;
        text-align: center;
        display: inline-block;
        -webkit-tap-highlight-color: transparent; }
    .couponCover .getCouponResultPopup .closeIcon {
      position: absolute;
      width: 3.3rem;
      height: 3.3rem;
      right: -1.65rem;
      top: -1.65rem;
      -webkit-tap-highlight-color: transparent; }

/*# sourceMappingURL=activity.css.map */
