@charset "UTF-8";
/*
* author: 姚吉
* date:2016/9/18
*/
/*
* author: 姚吉
* date:2016/9/18
*/
/*
* author: 姚吉
* date:2016/9/18
*/
* {
  outline: none;
  font-family: PingFangSC-Regular;
  -webkit-user-select: none !important; }

html,
body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  height: auto !important;
  background-color: #EBF0EE !important;
  -webkit-touch-callout: none !important;
  -webkit-overflow-scrolling: touch; }

a {
  color: #000; }

img {
  max-height: 100%;
  max-width: 100%;
  border: none;
  -webkit-user-select: none !important;
  -webkit-touch-callout: none;
  pointer-events: none; }

.clearfix {
  clear: both; }

.index-container {
  position: relative;
  z-index: 1; }

.grey-border-bottom {
  border-bottom: 1px solid #dddddd; }

.margin-top-one-rem {
  margin-top: 1rem; }

/*
* author: 姚吉
* date:2016/9/18
*/
.swiper-container .swiper-pagination-bullet {
  border-radius: 0;
  width: 1rem;
  height: 0.2rem; }
.swiper-container .swiper-pagination-bullet-active {
  background: #fff; }
.swiper-container .swiper-wrapper {
  height: auto; }
  .swiper-container .swiper-wrapper .swiper-slide {
    height: auto;
    min-height: 8rem; }
    .swiper-container .swiper-wrapper .swiper-slide img {
      width: 100%;
      pointer-events: auto; }

/*
* author: 姚吉
* date:2016/9/18
*/
.app-container-mirror {
  display: none; }

.app-container {
  background-color: #fff;
  -webkit-user-select: none !important; }
  .app-container .container {
    width: auto !important;
    padding-left: 0;
    padding-right: 0; }
  .app-container .homeMyAppContainter {
    padding-top: 1.1rem;
    padding-bottom: 1.45rem; }
  .app-container .appManagerContainer {
    padding-top: 0.25rem;
    padding-bottom: 1.5rem; }
  .app-container .appManagerContainerWithBorder {
    border-bottom: 1px solid #dddddd; }
  .app-container .container-header {
    padding-left: 2.66%;
    padding-top: 1.5rem;
    font-size: 1.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-user-select: none; }
  .app-container .row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0.4%;
    padding-right: 0.4%; }
    .app-container .row .noAppHint {
      height: 6rem;
      padding: 1rem 0;
      width: 100%;
      display: none; }
      .app-container .row .noAppHint div {
        text-align: center;
        height: 2rem;
        line-height: 2rem;
        color: #888888;
        font-size: 1.3rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
    .app-container .row .app-wrap {
      padding-left: 0 !important;
      padding-right: 0 !important;
      margin-top: 0.25rem;
      margin-bottom: 0.25rem; }
      .app-container .row .app-wrap .one-app {
        height: 100%;
        box-sizing: border-box;
        position: relative;
        text-align: center; }
        .app-container .row .app-wrap .one-app .app-corner-badge {
          background-color: #ff4f5d;
          border-radius: 15px 15px 15px 0;
          font-size: 0.9rem;
          position: absolute;
          top: 10%;
          left: 73.33%;
          color: #fff;
          z-index: 10; }
          .app-container .row .app-wrap .one-app .app-corner-badge .inner {
            padding: 0.1rem 0.15rem;
            height: 100%;
            position: relative;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
            .app-container .row .app-wrap .one-app .app-corner-badge .inner span.name {
              position: relative;
              z-index: 10; }
        .app-container .row .app-wrap .one-app .maintaining-badge {
          top: 0;
          background-color: #fff;
          border-radius: 0;
          z-index: 1; }
          .app-container .row .app-wrap .one-app .maintaining-badge img {
            pointer-events: none; }
        .app-container .row .app-wrap .one-app img.icon {
          margin-top: 17.3%;
          height: 33.3%;
          width: 33.3%;
          z-index: 5;
          position: relative;
          -webkit-user-select: none !important;
          -webkit-touch-callout: none;
          pointer-events: none; }
        .app-container .row .app-wrap .one-app p {
          margin-top: 16%;
          font-size: 1.3rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          -webkit-user-select: none !important;
          color: #111111; }
        .app-container .row .app-wrap .one-app .btn {
          display: none;
          position: absolute;
          top: 0;
          right: 0;
          width: 27%;
          height: 27%;
          text-align: center; }
          .app-container .row .app-wrap .one-app .btn img.btnIcon {
            width: 75%;
            position: absolute;
            left: 0;
            top: 20%;
            right: 20%; }
        .app-container .row .app-wrap .one-app .btn-maitain {
          background-color: #fff;
          border-radius: 0; }
          .app-container .row .app-wrap .one-app .btn-maitain img {
            pointer-events: none; }
      .app-container .row .app-wrap .app-show-border {
        border: 1px solid #dddddd; }
    .app-container .row .app-wrap-home {
      margin-top: 0;
      margin-bottom: 0; }
  .app-container .row-with-bottom-border {
    border-bottom: 1px solid #EBF0EE; }
  .app-container .row-line {
    border-bottom: 1px solid #EBF0EE;
    height: 1px;
    margin-left: 3.3%;
    width: 93.4%; }

/*
* author: 姚吉
* date:2016/9/18
*/
#card-container .card {
  background-color: #FFF;
  margin-top: 0.9rem;
  box-sizing: border-box;
  padding: 1rem 3.2%;
  color: #3f3f3f;
  position: relative; }
  #card-container .card .card-header {
    position: relative;
    padding-right: 3rem; }
    #card-container .card .card-header .app-logo {
      height: 3.75rem;
      width: 3.75rem;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 0.2rem; }
    #card-container .card .card-header .content {
      width: 80%;
      margin-left: 4.25rem;
      height: 3.75rem; }
      #card-container .card .card-header .content .upper {
        height: 2rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
        #card-container .card .card-header .content .upper .app-name {
          font-size: 1.4rem;
          line-height: 2rem;
          float: left; }
        #card-container .card .card-header .content .upper .iconBadge {
          font-size: 0.9rem;
          float: left;
          line-height: 2rem;
          margin-left: 0.35rem; }
          #card-container .card .card-header .content .upper .iconBadge span {
            background-color: #f8a901;
            border-radius: 0.3rem;
            color: #fff;
            padding: 2px 2px;
            padding-bottom: 1px; }
      #card-container .card .card-header .content .bottom {
        font-size: 1.2rem;
        height: 1.5rem;
        line-height: 1.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #a4a9b0; }
    #card-container .card .card-header .title {
      height: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 1.8rem; }
  #card-container .card .arrowWrap {
    position: absolute;
    height: 3.75rem;
    width: 3rem;
    right: 0;
    top: 1rem;
    padding-right: 3.2%;
    box-sizing: content-box; }
    #card-container .card .arrowWrap .arrow {
      position: absolute;
      right: 0;
      top: 0.3rem;
      width: 1.4rem;
      pointer-events: auto; }
  #card-container .card .card-main {
    margin-top: 1rem; }
    #card-container .card .card-main img.main {
      width: 100%; }
    #card-container .card .card-main .text {
      margin-top: 1rem;
      font-size: 1.3rem;
      text-align: left;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      white-space: normal; }
    #card-container .card .card-main .remind-title {
      margin-top: 1.8rem;
      font-size: 2.2rem;
      text-align: center; }
    #card-container .card .card-main .remind-subtitle {
      margin-top: 1rem;
      font-size: 1.4rem;
      text-align: center;
      color: #a4a9b0; }
    #card-container .card .card-main .share-link-card-container {
      padding: 0.5rem 0; }
      #card-container .card .card-main .share-link-card-container .slcc-wrap {
        height: 6rem;
        padding-left: 6rem;
        width: 100%;
        position: relative; }
        #card-container .card .card-main .share-link-card-container .slcc-wrap img.slcc-icon {
          height: 6rem;
          width: 6rem;
          position: absolute;
          top: 0;
          left: 0; }
        #card-container .card .card-main .share-link-card-container .slcc-wrap .slcc-content {
          width: 100%;
          height: 100%;
          background-color: #f7f7f7;
          padding: 1rem 1rem;
          padding-right: 0; }
          #card-container .card .card-main .share-link-card-container .slcc-wrap .slcc-content .one-line {
            height: 2rem;
            font-size: 1.2rem;
            line-height: 2rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
    #card-container .card .card-main .sale-card-contaner {
      overflow-x: scroll;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch; }
      #card-container .card .card-main .sale-card-contaner .one-sale-card {
        width: 11.4rem;
        margin-right: 1rem;
        width: 11.4rem;
        display: inline-block;
        vertical-align: top; }
        #card-container .card .card-main .sale-card-contaner .one-sale-card img {
          display: inline-block;
          height: 11.4rem;
          width: 11.4rem;
          pointer-events: auto; }
      #card-container .card .card-main .sale-card-contaner .one-image-sale-card img {
        width: 100%;
        display: block;
        pointer-events: auto; }
      #card-container .card .card-main .sale-card-contaner .one-image-sale-card .sale-card-text {
        text-align: left; }
      #card-container .card .card-main .sale-card-contaner .one-image-sale-card .sale-card-sub-text {
        text-align: left; }
      #card-container .card .card-main .sale-card-contaner .sale-card-text-wrap {
        margin-top: 0.7rem; }
        #card-container .card .card-main .sale-card-contaner .sale-card-text-wrap .sale-card-text {
          font-size: 1.5rem;
          line-height: 2.1rem;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          white-space: normal;
          margin-top: 0;
          margin-bottom: 0;
          word-break: break-all; }
      #card-container .card .card-main .sale-card-contaner .sale-card-sub-text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #a4a9b0;
        font-size: 1.2rem;
        margin-top: 0.6rem;
        line-height: 1.3rem;
        margin-top: 0.6rem; }
  #card-container .card .card-bottom {
    border-top: 1px solid #EBF0EE;
    text-align: center;
    margin-top: 1rem;
    font-size: 1.5rem;
    color: #108ee9; }
    #card-container .card .card-bottom .actionBar, #card-container .card .card-bottom .action-1, #card-container .card .card-bottom .action-2, #card-container .card .card-bottom .action-3 {
      padding-top: 1rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      float: left;
      box-sizing: border-box;
      padding-left: 1rem;
      padding-right: 1rem; }
    #card-container .card .card-bottom .action-1 {
      text-align: center;
      width: 100%; }
    #card-container .card .card-bottom .action-2 {
      width: 50%; }
    #card-container .card .card-bottom .action-3 {
      width: 33.3%; }
  #card-container .card .card-bottom::after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; }
#card-container .card-container-bottom {
  height: 6rem;
  text-align: center;
  padding: 1rem 1.25rem;
  display: none; }
  #card-container .card-container-bottom .noMore {
    position: relative;
    height: 50%;
    border-bottom: 1px solid #dddddd; }
    #card-container .card-container-bottom .noMore .noMoreText {
      position: absolute;
      bottom: -1rem;
      left: 30%;
      width: 40%;
      font-size: 1.5rem;
      background-color: #EBF0EE;
      color: #9f9b9b; }
  #card-container .card-container-bottom .loading {
    height: 4rem;
    text-align: center; }
    #card-container .card-container-bottom .loading .loading-circle {
      margin-top: 1rem;
      width: 2rem;
      height: 2rem;
      display: inline-block;
      -webkit-animation: circle infinite .75s linear;
      -moz-animation: circle infinite .75s linear;
      -o-animation: circle infinite .75s linear;
      animation: circle infinite .75s linear;
      border: 0.3rem solid #dddddd;
      border-top-color: transparent;
      border-radius: 100%; }
@-webkit-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-o-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
/*
* author: 姚吉
* date:2016/9/18
*/
.cover {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  z-index: 10; }
  .cover .bg {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    background-color: #666666;
    opacity: 0.7;
    top: 0;
    left: 0; }
  .cover .menu {
    padding: 0 3.2%;
    position: absolute;
    width: 100%;
    z-index: 2; }
    .cover .menu .wrap {
      background-color: #fff;
      border-radius: 0.5rem;
      position: relative;
      padding: 0 1rem; }
      .cover .menu .wrap .option {
        padding-left: 3rem;
        height: 4rem;
        position: relative;
        border-bottom: 1px solid #dddddd; }
        .cover .menu .wrap .option .icon {
          position: absolute;
          left: 1rem;
          top: 1.3rem;
          width: 1.35rem; }
        .cover .menu .wrap .option .content {
          line-height: 4rem;
          font-size: 1.5rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
      .cover .menu .wrap .last-option {
        border-bottom: 0; }
    .cover .menu .up::after {
      position: absolute;
      content: "";
      bottom: -0.6rem;
      right: 0.2rem;
      width: 0;
      height: 0;
      border-left: 0.5rem solid transparent;
      border-right: 0.5rem solid transparent;
      border-top: 1rem solid #fff; }
    .cover .menu .down::after {
      top: -0.6rem;
      right: 0.2rem;
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-left: 0.5rem solid transparent;
      border-right: 0.5rem solid transparent;
      border-bottom: 1rem solid #fff; }

/*
* author: 姚吉
* date:2016/9/18
*/
.selectLocation {
  position: absolute;
  right: 1.5rem;
  top: 7.35rem;
  z-index: 2;
  height: 1.6rem;
  padding-left: 1.2rem; }
  .selectLocation .anchor {
    height: 1.5rem;
    position: absolute;
    left: 0; }
  .selectLocation .city {
    font-size: 1.2rem;
    color: #fff;
    line-height: 1.5rem;
    margin-left: 0.5rem; }

.searchCityBox {
  padding: 0.5rem 0.75rem;
  background-color: #efeff4;
  border-bottom: 1px solid #dddddd; }
  .searchCityBox .innerBox {
    height: 3rem;
    border-radius: 1rem;
    background-color: #fff;
    padding: 0.75rem 3rem;
    position: relative; }
    .searchCityBox .innerBox .searchIconWrap {
      position: absolute;
      left: 0;
      top: 0;
      width: 3rem;
      height: 1.5rem;
      text-align: center;
      top: 0.75rem; }
      .searchCityBox .innerBox .searchIconWrap svg {
        width: 1.5rem; }
    .searchCityBox .innerBox .inputBox {
      height: 1.5rem;
      width: 100%;
      border: 0;
      font-size: 1.2rem; }
    .searchCityBox .innerBox .closeIconWrap {
      position: absolute;
      right: 0;
      top: 0;
      width: 3rem;
      height: 1.5rem;
      text-align: center;
      top: 0.75rem;
      display: none; }
      .searchCityBox .innerBox .closeIconWrap svg {
        width: 1.5rem; }

.cityListTitleBox {
  padding-left: 1.5rem;
  background-color: #f5f5f9;
  border-bottom: 1px solid #dddddd;
  height: 4rem;
  line-height: 4rem;
  font-size: 1.5rem;
  color: #9a9a9a; }

.cityList {
  background-color: #fff;
  box-sizing: border-box;
  padding-left: 1.5rem; }
  .cityList .oneCity {
    padding: 1.5rem 0;
    border-bottom: 1px solid #dddddd;
    position: relative;
    padding-right: 3rem; }
    .cityList .oneCity .cityName {
      height: 1.8rem;
      line-height: 1.8rem;
      font-size: 1.5rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .cityList .oneCity .svgWrap {
      position: absolute;
      right: 1rem;
      top: 1.7rem;
      width: 1.5rem;
      height: 1.8rem; }
      .cityList .oneCity .svgWrap svg {
        width: 1.5rem; }

/*
* author: 姚吉
* date:2016/11/28
* desc:获取健康生活卡
*/
.HL-Card-Container {
  padding: 2rem 1.5rem; }
  .HL-Card-Container .card {
    width: 100%;
    margin-bottom: 2rem; }
  .HL-Card-Container .get-HLCard-btn {
    border-radius: 0.5rem;
    height: 4.4rem;
    line-height: 4.4rem;
    background-color: #00aaee;
    text-align: center;
    color: #fff;
    font-size: 1.6rem; }

/*# sourceMappingURL=style.css.map */
