@charset "UTF-8";
/*
* author: 李辉
* date:2016/11/7
*/
/*
* reset
*/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?q8lyov');
  src:  url('../fonts/icomoon.eot?q8lyov#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?q8lyov') format('truetype'),
    url('../fonts/icomoon.woff?q8lyov') format('woff'),
    url('../fonts/icomoon.svg?q8lyov#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon__"], [class*=" icon__"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon__arrow:before {
  content: "\e900";
}
.icon__location:before {
  content: "\e901";
}

*{font-family: 'Microsoft Yahei';}

h5,h6{margin:0;}

.ac__blue{color:#108ee9;}

/*
* layer
*/
.TP-acHeader{height:6.3rem;text-align: center;padding:3.2rem 2.3rem 0 1.5rem;background:#ffffff;}
.TP-acHeader .goBack{text-decoration: none;font-size:1.5rem;line-height: 1.5rem;position: absolute;top:3.3rem;left:1.5rem;}
.TP-acHeader .icon__arrow{display: inline-block;margin-top: 1px;}
.TP-acHeader .text{vertical-align: top;display: inline-block;padding-left:0.6rem;}
.TP-acHeader-title{font-size: 1.6rem;line-height:1.6rem;color:#000000;margin:0;font-weight: 100;}
.TP-acBody{}
/*
* shop
*/
.TP-shopPage{width:100%;position: relative;margin:0 auto;}
.TP-shop-acBody{position: relative;}
.TP-shop-head{height:4rem;background:#f5f5f9;padding:1.5rem 2.3rem 0 1.5rem;color:#888888;font-size: 1.4rem; line-height: 1;border:1px #ededef solid;border-right:none;border-left:none;}
.TP-shop-body{padding:0 0rem 0 1.5rem;background-color: #fff;}
.TP-shop-body .shopList{overflow: hidden;margin:0;padding:0;}
.TP-shop-body .shopList .item{list-style:none;padding:1.5rem 0;border-top:1px #dddddd solid;margin-top:-1px;position: relative;}
.TP-shop-body .shopList .icon__location{position: absolute;right:2.3rem;text-decoration: none;font-size: 2.4rem;top:50%;margin-top:-1.2rem;-webkit-tap-highlight-color:transparent;}
.TP-shop-body .shopList .cont{width:80%;border-right:1px #dddddd solid;padding-right:1rem;}
.TP-shop-body .shopList .cont.brNone{border-right:none;width:100%;}
.TP-shop-body .shopList .title{font-size: 1.4rem;color:#000000;font-weight: normal;line-height: 1.4;}
.TP-shop-body .shopList .address{font-size: 1.2rem;color:#888888;font-weight: normal;line-height: 1.4;margin-top:0.7rem;}
.hasNoMore{text-align: center;min-height: 4rem;line-height: 4rem;background:#f5f5f9;font-size:1.4rem;color:#888888;opacity: 0;transition:opacity .1s linear;-webkit-transition:opacity .1s linear}
.hasNoMore.active{opacity: 1;}

.TP-shopPage .card-container-bottom {
  height: 6rem;
  text-align: center;
  padding: 1rem 1.25rem;
  background-color: #EBF0EE;
  display: none; }
  .TP-shopPage .card-container-bottom .noMore {
    position: relative;
    height: 50%;
    border-bottom: 1px solid #dddddd; }
    .TP-shopPage .card-container-bottom .noMore .noMoreText {
      position: absolute;
      bottom: -1rem;
      left: 30%;
      width: 40%;
      font-size: 1.5rem;
      background-color: #EBF0EE;
      color: #9f9b9b; }
  .TP-shopPage .card-container-bottom .loading {
    height: 4rem;
    text-align: center; }
    .TP-shopPage .card-container-bottom .loading .loading-circle {
      margin-top: 1rem;
      width: 2rem;
      height: 2rem;
      display: inline-block;
      -webkit-animation: circle infinite .75s linear;
      -moz-animation: circle infinite .75s linear;
      -o-animation: circle infinite .75s linear;
      animation: circle infinite .75s linear;
      border: 0.3rem solid #dddddd;
      border-top-color: transparent;
      border-radius: 100%; }
@-webkit-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-o-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*
* detail
*/
.bg__gray{background: #f5f5f9;position: absolute;top:0;width:100%;height: 100%;}
.TP-detailPage{width:100%;position: relative;margin:0 auto;background: #f5f5f9;}
.TP-detail-head{background:#f5f5f9;padding:1.7rem 2.8rem 0 1.3rem;height:4.1rem;color:#67666a;font-size: 1.35rem;line-height: 1;border:1px #ededef solid;border-right:none;border-left:none;}
.TP-detail-body{min-height: 4.2rem;padding:1rem 2.8rem 1rem 1.3rem;line-height: 2.1rem;font-size: 1.3rem;color:#333333;background:#ffffff;}
.TP-detail-body ul{margin:0;padding:0;}
.TP-detail-body ul li{list-style:none;}
/*
* lottery
*/
.TP-lotteryPage{background:#ae1825 url(../imgs/TP-imgs/lotteryBg.jpg) no-repeat;background-size:100%;min-height: 45.5rem;width:100%;position: relative;margin:0 auto;}
.TP-lotteryPage .lotteryWrap{background:url(../imgs/TP-imgs/lotteryBg1.png) no-repeat 0 37.6rem;background-size:100%;padding-bottom:1.6rem;}
.TP-lotteryPage .lotteryLink{position:absolute;right:0;color:#ffffff;text-decoration:none;border:1px #ffffff solid;border-right:none;border-top-left-radius:1.5rem;border-bottom-left-radius:1.5rem;padding:0 0.4rem 0 1.2rem;font-size:1.7rem;line-height: 2.8rem;margin-top:1rem;}
.TP-lotteryPage .lotteryLink:after{content: '';width:0.95rem;height: 1.2rem;background:url(../imgs/TP-imgs/icon-arrowRight.png) no-repeat;background-size:100%;float: right;margin-top:.8rem;margin-left: 0.3rem;}
.TP-lotteryPage .lotteryBox{width:100%;position:absolute; left:50%;margin-left:-50%; top:9.4rem; z-index:1;text-align: center;}
.TP-lotteryPage .lotteryBox .bg{width:100%;}
.TP-lotteryPage #lucky{width:40.5333%;position:absolute;top:31.76497%;left:50%;margin-left:-20.2667%;}
.TP-lotteryPage .lotteryBox .playBtn{position:absolute; left:50%;margin-left:-6.4%; top:44.7586%;width:12.8%; cursor:pointer; z-index:10;-webkit-tap-highlight-color:transparent; }
.TP-lotteryPage .lotteryBox .playBtn>img{width:100%;}
.TP-lotteryPage .lotteryCount{font-size: 1.815rem;color:#ffffff;text-align: center;margin:0;padding-top:48.1rem;}
.TP-lotteryPage .lotteryCount strong{font-size: 2.525rem;color:#ffe800;font-weight: bold;padding-right:.7rem;vertical-align:bottom;line-height: 1;}
.TP-lotteryPage .btnWrap{text-align: center;margin:0;}
.TP-lotteryPage .myAward{width:20.75rem;height:6.9rem;background: url(../imgs/TP-imgs/myAward.png) no-repeat ;display: inline-block;background-size:100%;margin:1rem 0 0 0;-webkit-tap-highlight-color:transparent;}
.TP-lotteryPage .myAward:active{background-image: url(../imgs/TP-imgs/myAward-1.png);}

.TP-lotteryPage .awardInfo,.TP-lotteryPage .roleBox{width:91.7333%;margin:1.4rem auto 0;background: #cc3034;border-radius: 0.5rem;padding:1.8rem;}

.TP-lotteryPage .awardInfo{padding:1.2rem 0rem 1.2rem 3rem;}
.TP-lotteryPage .awardInfo .item {color:#ffdedf;font-size: 1.5rem;line-height: 1.4;}
.TP-lotteryPage .awardInfo .item + .item{margin-top:0.9rem;}
.TP-lotteryPage .awardInfo .item .title{font-weight: bold;display: inline-block;vertical-align: top;}
.TP-lotteryPage .awardInfo .item .info{max-width:72%;display: inline-block;vertical-align: top;margin-left: 1rem;}

.TP-lotteryPage .roleBox{}
.TP-lotteryPage .roleBox .title{font-weight: bold;font-size: 1.7rem;color: #ffdedf;line-height: 1;}
.TP-lotteryPage .roleBox .roleList{margin:0;padding:0 0 0 0rem;}
.TP-lotteryPage .roleBox .item{font-size: 1.4rem;color:#ffdedf;margin-top:0.8rem;line-height: 2rem;list-style:none;}
.TP-lotteryPage .roleBox .item .num{display: inline-block;}
.TP-lotteryPage .roleBox .item .text{display: inline-block;max-width: 89%;vertical-align: top;}
.TP-lotteryPage .roleBox .item+.item{margin-top:0.8rem;}

/*.TP-lotteryPage .roleBox .item{color:#ffdedf;font-size: 1.5rem;line-height: 1.4;}
.TP-lotteryPage .roleBox{padding:1.2rem 0rem 1.2rem 3rem;}*/
.TP-lotteryPage .roleBox .item .info{display: inline-block;vertical-align: top;}

.TP-lotteryMask { width:100%; height:100%; position:fixed; left:0; top:0; background:rgba(54, 49, 49, 0.7); display:none;z-index: 2;}
.TP-lotteryPopup { width:75.4667%; position:fixed; left:50%; top:50%;margin-top:-14.75rem; margin-left:-37.7333%; display:none; z-index:999; background:#ffffff; min-height:29.5rem; text-align:center;border-radius:10px;padding-bottom:2.5rem;}
.TP-lotteryPopup.on { background:url(../imgs/TP-imgs/winningBg.png) no-repeat;background-size:100%;margin-top:-19.5rem;width:75.7333%;margin-left:-37.86665%;/*padding:15.55rem 0 0 0;*/position: fixed;}
.TP-lotteryPopup.on .img{width:39.7888%;border-radius: 0.5rem;display: block;margin:0 auto;}
.TP-lotteryPopup.on .text{font-size: 1.5rem;color:#ff3737;padding:0 6.5rem;margin:0.9rem 0 0 0;}
.TP-lotteryPopup .btnWrap{text-align: center;margin:2rem 0 0 0;}
.TP-lotteryPopup .ac__btn{font-size: 2.5rem;color:#ffffff;line-height: 5.1rem;height:5.1rem;display: inline-block;text-align: center;font-weight: bold;background:#ff3737;border-radius: 0.5rem;min-width:48.5333%;text-decoration: none;padding:0 1.5rem;}
.TP-lotteryPopup .popWrap{border-bottom-left-radius:.5rem;border-bottom-right-radius:.5rem;padding-bottom:2.3rem;background: #ffffff;}
.TP-lotteryPopup.on .popWrap{margin-top:54.7535%;}

.TP-lotteryPopup.off{}
.TP-lotteryPopup.off .ac__icon-sad{width:5.4rem;height: 5.4rem;background: url(../imgs/TP-imgs/lost.png) no-repeat;background-size:100%;display: block;margin:0 auto;margin-top:4.3rem;}
.TP-lotteryPopup.off .ac__icon-end{width:6.15rem;height:6.25rem;background: url(../imgs/TP-imgs/lotteryCount.png) no-repeat;background-size: 100%;text-align: center;color: #ffffff;font-size: 1.4rem;font-weight: bold;line-height: 6.25rem;margin-top:3.2rem;display: inline-block;padding-left:.1rem; }
.TP-lotteryPopup.off .title{font-size: 2.3rem;color:#ff3737;font-weight: bold;margin-top:2.3rem;line-height: 1;padding:0 2rem;}
.TP-lotteryPopup.off .sub-title{font-size: 2.3rem;color:#ff3737;font-weight: 100;padding:0 2rem;line-height: 1.4;margin:1rem 0 0 0;}
.TP-lotteryPopup .ac__closeBtn{position: absolute;width:1.45rem;height:1.45rem;top:1rem;right:.8rem;background:url(../imgs/TP-imgs/icon_close.png) no-repeat;background-size:100%;-webkit-tap-highlight-color:transparent;}
.TP-lotteryPopup .ac__closeBtn2{position: absolute;width:1.45rem;height:1.45rem;top:0rem;margin-top:26.164%;right:3.77%;background:url(../imgs/TP-imgs/icon_close-2.png) no-repeat;background-size:100%;-webkit-tap-highlight-color:transparent;}
.TP-lotteryPopup .awardList{margin:2.7rem 1rem 0 1.5rem;overflow: hidden;}
.TP-lotteryPopup .awardList .thumbnail{padding:1rem 0.5rem;border-top:1px #cccccc dashed;margin-top:-1px;}
.TP-lotteryPopup .awardList .img{width:33%;border-radius: .5rem;float: left;}
.TP-lotteryPopup .awardList .detail{text-align: left;margin-left:40.388%;}
.TP-lotteryPopup .awardList .title{font-weight: 100;font-size: 1.5rem;color:#ff3737;line-height: 1.4;padding:0;margin:0 0 1.5rem 0;}
.TP-lotteryPopup .awardList .ac__btn{font-size: 1.5rem;height:3rem;line-height: 3rem;font-weight: bold;width:9.7rem;}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .TP-lotteryPage .lotteryWrap{background-position: 0 34.6rem;}
}
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
  .TP-lotteryPage .lotteryWrap{background-position: 0 34.6rem;}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  .TP-lotteryPopup.off{margin-top:-16.75rem;}
  .TP-lotteryPopup.off .ac__icon-end{width: 10.15rem;height: 10.25rem;font-size: 3.4rem;line-height: 10.25rem;margin-top:4.2rem;}
  .TP-lotteryPopup.off .sub-title{}
  .TP-lotteryPopup.off .title{}
  .TP-lotteryPopup.on .text{font-size: 3rem;padding:0 11.5rem;margin:2.9rem 0 3rem 0;}
  .TP-lotteryPopup .ac__btn{font-size:3.5rem;height:7.1rem;line-height: 7.1rem; }
  .TP-lotteryPage .lotteryCount{font-size: 2.815rem;}
  .TP-lotteryPage .lotteryCount strong{font-size: 4.525rem;}
  .TP-lotteryPage .myAward{width:30.75rem;height:9.9rem;margin-top:3rem;}
  .TP-lotteryPage .awardInfo .item{font-size: 2.5rem;}
  .TP-lotteryPage .awardInfo, .TP-lotteryPage .roleBox{margin-top:2.4rem;}
  .TP-lotteryPage .roleBox{padding:3.8rem;}
  .TP-lotteryPage .awardInfo{padding:2.2rem 0rem 2.2rem 5rem;}
  .TP-lotteryPage .roleBox .title{font-size: 3.7rem;}
  .TP-lotteryPage .roleBox .item{font-size: 2.4rem;line-height: 1.4;margin-top:1.9rem;}
  .TP-lotteryPage .roleBox .roleList{padding-left:0rem;}
  .TP-lotteryPage .lotteryLink{font-size: 2.7rem;padding:0 1.4rem 0 2.2rem;line-height: 4.8rem;margin-top:2rem;border-top-left-radius:2.5rem;border-bottom-left-radius:2.5rem;}
  .TP-lotteryPage .lotteryLink:after{margin:1.2rem 0 0 0.8rem;width:1.95rem;height: 3.2rem;}

  .TP-shop-head{font-size: 2.4rem;padding:2.2rem 2.3rem 0 1.5rem;height:6.2rem;}
  .TP-shop-body .shopList .item{padding:2.5rem 0;}
  .TP-shop-body .shopList .title{font-size:2.4rem;}
  .TP-shop-body .shopList .address{font-size: 2.2rem;margin-top:1.2rem;}
  .TP-shop-body .shopList .icon__location{font-size: 4.4rem;margin-top:-2.2rem;right:3.3rem;}

  .TP-detail-head{font-size: 2.35rem;padding:2.0rem 2.8rem 0 2.3rem;height: 6.1rem;}
  .TP-detail-body{font-size: 2.3rem;line-height: 1.6;padding:1.5rem 2.8rem 1rem 2.3rem;min-height: 6.2rem;}

  .TP-lotteryPopup .ac__closeBtn,.TP-lotteryPopup .ac__closeBtn2{width:2.45rem;height: 2.45rem;}

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){
  .TP-lotteryPopup.off{margin-top:-22.75rem;}
  .TP-lotteryPopup.off .ac__icon-end{width: 10.15rem;height: 10.25rem;font-size: 3.4rem;line-height: 10.25rem;margin-top:4.2rem;}
  .TP-lotteryPopup.off .ac__icon-sad{width:9.4rem;height: 9.4rem;}
  .TP-lotteryPopup.off .sub-title{font-size: 4.3rem;margin-top:2rem;}
  .TP-lotteryPopup.off .title{font-size: 4.3rem;margin-top: 3.3rem;}
  .TP-lotteryPopup.on .text{font-size: 4rem;padding:0 14.5rem;margin:3.9rem 0 4rem 0;}
  .TP-lotteryPopup .ac__btn{font-size:5.5rem;height:10.1rem;line-height: 10.1rem; }
  .TP-lotteryPage .lotteryCount{font-size: 2.815rem;}
  .TP-lotteryPage .lotteryCount strong{font-size: 4.525rem;}
  .TP-lotteryPage .myAward{width:30.75rem;height:9.9rem;margin-top:3rem;}
  .TP-lotteryPage .awardInfo .item{font-size: 2.5rem;}
  .TP-lotteryPage .awardInfo, .TP-lotteryPage .roleBox{margin-top:2.4rem;}
  .TP-lotteryPage .roleBox{padding:3.8rem;}
  .TP-lotteryPage .awardInfo{padding:2.2rem 0rem 2.2rem 5rem;}
  .TP-lotteryPage .roleBox .title{font-size: 3.7rem;}
  .TP-lotteryPage .roleBox .item{font-size: 2.4rem;line-height: 1.4;margin-top:1.9rem;}
  .TP-lotteryPage .roleBox .roleList{padding-left:0rem;}
  .TP-lotteryPage .lotteryLink{font-size: 2.7rem;padding:0 1.4rem 0 2.2rem;line-height: 4.8rem;margin-top:2rem;border-top-left-radius:2.5rem;border-bottom-left-radius:2.5rem;}
  .TP-lotteryPage .lotteryLink:after{margin:1.2rem 0 0 0.8rem;width:1.95rem;height: 3.2rem;}
  .TP-lotteryPopup .btnWrap{margin-top: 3rem;}
  .TP-lotteryPopup.on{position: absolute;}

  .TP-shop-head{font-size: 2.4rem;padding:2.2rem 2.3rem 0 2.5rem;height:6.2rem;}
  .TP-shop-body{padding:0 0rem 0 2.5rem;}
  .TP-shop-body .shopList .cont.brNone{padding-right: 2.5rem;}
  .TP-shop-body .shopList .item{padding:2.5rem 0;}
  .TP-shop-body .shopList .title{font-size:2.4rem;}
  .TP-shop-body .shopList .address{font-size: 2.2rem;margin-top:1.2rem;}
  .TP-shop-body .shopList .icon__location{font-size: 4.4rem;margin-top:-2.2rem;right:3.3rem;}

  .TP-detail-head{font-size: 2.35rem;padding:2.0rem 2.8rem 0 2.3rem;height: 6.1rem;}
  .TP-detail-body{font-size: 2.3rem;line-height: 1.6;padding:1.5rem 2.8rem 1rem 2.3rem;min-height: 6.2rem;}

  .TP-lotteryPopup .ac__closeBtn,.TP-lotteryPopup .ac__closeBtn2{width:3.45rem;height: 3.45rem;}
}


.TP-lotteryPage .TP-arrow-hint{
    position: fixed;
    width: 2.2rem;
    height: 2.2rem;
    display: none;
    right: 1.5rem;
    bottom: 1rem;
    background: rgba(255, 255, 255, 0.2);

}

.TP-lotteryPage .TP-arrow-hint img{
    width: 100%;
    height: 100%;
}



